.pill-point{
    background: oklch(0.50 0 0);
    background-color: oklch(0.95 0 0);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fade-in 0.15s ease-out forwards;
}