<div class="journey-section">
  <div class="journey-header">
    <div class="journey-icon">@</div>
    <h2 class="journey-title">The Journey</h2>
  </div>
  <div class="journey-images">
    @for (aJourney of justImages; track $index) {
    <div class="journey-card">
      <div class="journey-image-wrapper">
        <img [src]="aJourney.url" [alt]="aJourney.caption" class="journey-image">
      </div>
      @if (aJourney.caption) {
      <div class="journey-caption">
        <p>{{aJourney.caption}}</p>
      </div>
      }

    </div>
    }

  </div>
</div>