<div class="journey-section">
  <div class="journey-header">
    <div class="journey-icon">@</div>
    <h2 class="journey-title">The Journey</h2>
  </div>
  <div class="journey-images">
    @for (image of hackEvent.currentHackathon.images.slice(1); track $index) {
    <div class="journey-card">
      <div class="journey-image-wrapper pb-18">
        <img [src]="image.url" [alt]="image.caption" class="journey-image">
      </div>
      @if (image.caption) {
      <div class="journey-caption">
        <p>{{image.caption}}</p>
      </div>
      }

    </div>
    }

  </div>
</div>